{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded"
                        src="/media/0000_Cuidado-de-animales-de-compania.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="border-start border-5 border-primary ps-5 mb-5">
                    <h6 class="text-primary text-uppercase">Acera De Nosotros</h6>
                    <h1 class="display-5 text-uppercase mb-0">Mantenemos a sus mascotas felices todo el tiempo</h1>
                </div>
                <h4 class="text-body mb-4">Nuestro objetivo principal es ser tu socio confiable en el viaje de cuidado
                    de tus mascotas. Valoramos la relación única que tienes con tus amigos de cuatro patas y nos
                    comprometemos a brindarles productos y servicios de calidad que satisfagan sus necesidades
                    individuales.

                    En nuestra tienda, encontrarás una selección cuidadosamente curada de productos de primera calidad.
                    Desde alimentos nutritivos y deliciosos hasta juguetes interactivos y accesorios elegantes, cada
                    artículo que ofrecemos ha sido seleccionado con atención para garantizar la satisfacción y el
                    bienestar de tus mascotas.

                    Además, contamos con un equipo amable y conocedor que está listo para brindarte asesoramiento
                    experto. Nos esforzamos por conocerte a ti y a tus mascotas, entender tus preocupaciones y responder
                    a todas tus preguntas. Tu satisfacción y la felicidad de tus mascotas son nuestra máxima prioridad
                </h4>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase">Nuestro equipo</h6>
            <h1 class="display-5 text-uppercase mb-0">Profesionales calificados en el cuidado de mascotas</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative" style="padding-right: 10px;">
            <div class="team-item">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'core/img/team-1.jpg' %}" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h5 class="text-uppercase">Full Name</h5>
                    <p class="m-0">Designation</p>
                </div>
            </div>
            <div class="team-item">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'core/img/team-2.jpg' %}" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h5 class="text-uppercase">Full Name</h5>
                    <p class="m-0">Designation</p>
                </div>
            </div>
            <div class="team-item">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'core/img/team-3.jpg' %}" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h5 class="text-uppercase">Full Name</h5>
                    <p class="m-0">Designation</p>
                </div>
            </div>
            <div class="team-item">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'core/img/Carla.jpg' %}" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h5 class="text-uppercase">Carla Lopez</h5>
                    <p class="m-0">Veterinaria</p>
                </div>
            </div>
            <div class="team-item">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'core/img/Cuidador.jpg' %}" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                            <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h5 class="text-uppercase">Vicente Muñoz</h5>
                    <p class="m-0">Veterinario</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

{% endblock %}