{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5 justify-content-start">
            <div class="col-lg-7">
                <div class="border-start border-5 border-dark ps-5 mb-5">
                    <h6 class="text-dark text-uppercase">Oferta especial</h6>
                    <h1 class="display-5 text-uppercase text-white mb-0">
                    ¡Únete a nuestra comunidad de amantes de las mascotas y obten Planes para mejoras tus servicios!
                    </h1>
                </div>
                <p class="text-white mb-4">
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <span>Nuestra tienda de mascotas ofrece descuentos atractivos en una amplia gama de productos para
                        satisfacer las necesidades de tus mascotas. Aprovecha estas ofertas especiales y brinda a tus
                        compañeros peludos la calidad que se merecen a precios más accesibles. Tu satisfacción y el
                        bienestar de tus mascotas son nuestra prioridad.
                    </span>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

<!-- Pricing Plan Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px">
            <h6 class="text-primary text-uppercase">Precios De Los Plan</h6>
            <h1 class="display-5 text-uppercase mb-0">
                Eliga El Plan Mas Adecuado Para Usted y su mascota
            </h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="bg-light text-center pt-5 mt-lg-5">
                    <h2 class="text-uppercase">Plan Basico</h2>
                    <h6 class="text-body mb-5">La Mejor Decision</h6>
                    <div class="text-center bg-primary p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px">$</small>15.000<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px">/ Mes</small>
                        </h1>
                    </div>
                    <div class="text-center p-4">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Consultas veterinarias</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Vacunaciones</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Desparasitación</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Acceso a servicios de emergencia</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Descuentos en ciertos Productos</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Compra ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light text-center pt-5">
                    <h2 class="text-uppercase">Plan Intermedio</h2>
                    <h6 class="text-body mb-5">La Mejor Decision</h6>
                    <div class="text-center bg-dark p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px">$</small>30.000<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px">/ Mes</small>
                        </h1>
                    </div>
                    <div class="text-center p-4">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Todos los beneficios del Plan Básico</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Consultas veterinarias ilimitadas</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Control de peso</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Descuentos en servicios adicionales</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Descuentos en mas Productos</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Compra ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light text-center pt-5 mt-lg-5">
                    <h2 class="text-uppercase">Plan Premium</h2>
                    <h6 class="text-body mb-5">La Mejor Decision</h6>
                    <div class="text-center bg-primary p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px">$</small>50.000<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px">/ Mes</small>
                        </h1>
                    </div>
                    <div class="text-center p-4">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Todos los beneficios de Los Planes</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Vacunas avanzadas</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Vacunas avanzadas</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Vacunas avanzadas</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Servicio de urgencias 24/7</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Descuentos En Toda La Tienda </span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Compra Ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan End -->

{% endblock %}