{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}    


<div class="container-fluid py-5">
    <div class="container">
      <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px">
        <h6 class="text-primary text-uppercase">Products</h6>
        <h1 class="display-5 text-uppercase mb-0">
          Products For Your Best Friends
        </h1>
      </div>
    </div>
  </div>
  
  <!-- Products Start -->
  <div class="container">
    <div class="row gx-5 justify-content-start">
      {% for aux in listado %} {% if aux.vigente == 1 %}
      <div class="col-md-6 col-lg-3">
        <div class="product">
          <div class="pb-5">
            <div class="product-item position-relative bg-light d-flex flex-column text-center">
              {% if aux.imagen %}
              <img class="img-fluid mb-4" src="{{ aux.imagen.url }}" alt="Imagen no encontrada if" />
              {% else %}
              <img class="img-fluid mb-4" src="{% static 'core/img/about.jpg' %}" alt="Imagen no encontrada else" />
              {% endif %}
              <h6 class="text-uppercase">{{ aux.nombre }}</h6>
              <h5 class="text-primary mb-0">${{ aux.precio }}</h5>
              <div class="btn-action d-flex justify-content-center">
                {% if user.username == "admin" %}
				        <a class="btn btn-primary py-2 px-3" href="{% url 'carrito'%}"><i class="bi bi-cart"></i></a>
				        <a class="btn btn-primary py-2 px-3" href="{% url 'update' aux.id %}"><i class="bi bi-eye"></i></a>
                <a onclick="deleteProducto({{ aux.id }})" class="btn btn-primary py-2 px-3"><span><i class="bi bi-trash"></i></span></a>
                {% else %}
				        <a class="btn btn-primary py-2 px-3" href="{% url 'login'%}"><i class="bi bi-cart"></i></a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% include 'core/paginator.html' %}
  </div>
  <!-- Products End -->


    <!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5">
  <div class="container py-5">
    <div class="row gx-5 justify-content-start">
      <div class="col-lg-7">
        <div class="border-start border-5 border-dark ps-5 mb-5">
          <h6 class="text-dark text-uppercase">Oferta especial</h6>
          <h1 class="display-5 text-uppercase text-white mb-0">
            Descuentos % En sus Productos
          </h1>
        </div>
        <p class="text-white mb-4">
          <div class="d-flex align-items-center justify-content-between mb-1">
            <span>Nuestra tienda de mascotas ofrece descuentos atractivos en una amplia gama de productos para satisfacer las necesidades de tus mascotas. Aprovecha estas ofertas especiales y brinda a tus compañeros peludos la calidad que se merecen a precios más accesibles. Tu satisfacción y el bienestar de tus mascotas son nuestra prioridad.
            </span>
          </div>
        </p>
        <a href="{% url 'price'%}" class="btn btn-light py-md-3 px-md-5 me-3">Compra ahora</a>
      </div>
    </div>
  </div>
</div>
<!-- Offer End -->


    

{% endblock %}