{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}


<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px">
            <h6 class="text-primary text-uppercase">Servicios</h6>
            <h1 class="display-5 text-uppercase mb-0">
                Servicios Mas Detallados 
            </h1>
        </div>
        <div class="row g-5">
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-house display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Alojamiento de mascotas</h5>
                        <p>
                            En un alojamiento de mascotas, se proporcionan instalaciones adecuadas y espacios diseñados
                            especialmente para garantizar el bienestar de los animales. Esto puede incluir áreas de
                            juego al aire libre, dormitorios individuales o compartidos, comederos y bebederos
                            adecuados, y un equipo de cuidadores capacitados que supervisan a las mascotas durante su
                            estancia.

                            El alojamiento de mascotas se basa en proporcionar a los animales una rutina diaria que
                            incluye alimentación regular, ejercicio, socialización y atención personalizada. Los
                            cuidadores se encargan de cumplir con las necesidades individuales de cada mascota,
                            brindando cuidados veterinarios básicos, administrando medicamentos si es necesario y
                            asegurándose de que estén cómodos y felices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-food display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Alimentación de mascotas</h5>
                        <p>
                            La alimentación de mascotas abarca una variedad de aspectos, incluyendo la selección de
                            alimentos de calidad, la dosificación adecuada, la atención a las necesidades específicas de
                            cada animal y la promoción de una alimentación equilibrada.

                            Es importante elegir alimentos que estén formulados especialmente para la especie y la etapa
                            de vida de la mascota, ya sea perros, gatos, aves, conejos u otros animales domésticos.
                            Estos alimentos deben proporcionar los nutrientes esenciales, como proteínas, grasas,
                            carbohidratos, vitaminas y minerales, que son necesarios para mantener una buena salud.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-grooming display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Aseo de mascotas</h5>
                        <p>
                            El aseo de mascotas abarca diferentes aspectos, como el baño, cepillado, corte de uñas,
                            limpieza de oídos, cuidado dental y arreglo de pelo. Estas tareas ayudan a prevenir
                            problemas de salud, como la acumulación de suciedad, mal olor, infecciones de piel,
                            problemas dentales y otros trastornos relacionados con la falta de higiene.

                            El baño es una parte importante del aseo de mascotas, ya que ayuda a eliminar la suciedad,
                            los olores y los parásitos externos. Dependiendo de la especie y la raza de la mascota, la
                            frecuencia del baño puede variar. Es importante utilizar productos de aseo adecuados para
                            mascotas, como champús suaves y seguros, que no irriten su piel o dañen su pelaje.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-cat display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Entrenamiento de mascotas</h5>
                        <p>
                            El entrenamiento de mascotas implica el establecimiento de reglas y límites claros, así como
                            la enseñanza de comandos básicos, como sentarse, quedarse, venir y caminar con correa. Estas
                            habilidades básicas ayudan a mantener la seguridad tanto de la mascota como de su entorno.

                            Además de los comandos básicos, el entrenamiento de mascotas puede abordar problemas de
                            comportamiento específicos, como saltar sobre las personas, ladrar en exceso, masticar
                            objetos inapropiados o hacer sus necesidades en lugares inadecuados. A través de técnicas de
                            refuerzo positivo, como recompensas y elogios, se pueden moldear y modificar los
                            comportamientos no deseados hacia comportamientos más deseables.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-dog display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Ejercicio para mascotas</h5>
                        <p>
                            El ejercicio para mascotas puede adoptar diferentes formas, dependiendo de la especie, raza
                            y edad del animal. Para los perros, puede incluir caminatas, trotar, correr, jugar a buscar,
                            practicar deportes caninos o participar en actividades de agilidad. Para los gatos, el
                            ejercicio puede consistir en juegos interactivos, juguetes para perseguir o estructuras de
                            escalada. Otras mascotas, como conejos o pájaros, también pueden beneficiarse de actividades
                            que les permitan moverse y explorar su entorno de manera segura.

                            El ejercicio regular para las mascotas no solo ayuda a mantener un peso saludable, sino que
                            también mejora su condición física, fortalece los músculos y las articulaciones, promueve
                            una buena circulación sanguínea y estimula su mente. Además, el ejercicio es una excelente
                            manera de fomentar la socialización y el juego, lo que contribuye a un bienestar emocional
                            óptimo.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-vaccine display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Tratamiento de mascotas</h5>
                        <p>
                            El tratamiento de mascotas puede incluir visitas regulares al veterinario para exámenes de
                            rutina, vacunaciones, desparasitación y chequeos de salud. También implica el manejo y
                            tratamiento de enfermedades y lesiones, como infecciones, fracturas, enfermedades crónicas,
                            alergias y trastornos del comportamiento.

                            Los veterinarios y profesionales de la salud animal son responsables de evaluar,
                            diagnosticar y recomendar el tratamiento adecuado para las mascotas. Esto puede implicar la
                            prescripción de medicamentos, terapias físicas, intervenciones quirúrgicas o la
                            implementación de cambios en la dieta y el estilo de vida de las mascotas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

{% endblock %}